<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redirecting...</title>
    {% load static %}
</head>
<body>
    <script>
        // Redirect to the new admin dashboard
        window.location.href = '/admin/dashboard';
    </script>
    <p>Redirecting to admin dashboard...</p>
</body>
</html>
